.form-item {
    margin: 0 auto;
    margin-top: 5rem;
    width: 30rem;
}

.paragraph-item {
    margin: 0 auto;
    margin-top: 20rem;
    text-align: left;
}

input[type="submit"] {
    margin-top: 1rem;
}

input {
    width: 100%;
}

.container {
    display: flex;
    column-gap: 3rem;
}

.right-side-container {
    display: flex;
    flex-direction: column;
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
}

legend{
    margin-bottom: 1rem;
}

.paragraph-item > * {
    margin-right: 10rem;
}

:root{
    font-family: sans-serif;
}