:root{
    font-family: sans-serif;
}

.paragraph-item {
    margin-top: 20rem;
    text-align: left;
}

input[type="submit"] {
    margin-top: 1rem;
}
.container {
    display: flex;
    column-gap: 3rem;
}

.right-side-container {
    display: block;
}

legend{
    margin-bottom: 1rem;
}

.paragraph-item > * {
    margin-right: 10rem;
}
