:root {
    font-family: sans-serif;
}

.paragraph-item {
    margin-top: 20rem;
    text-align: left;
}

.container {
    display: flex;
    column-gap: 3rem;
}

.right-side-container {
    display: block;
}

.paragraph-item>* {
    margin-right: 10rem;
}

.form-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 6rem;
}

.form-item {
    display: flex;
    flex-flow: column nowrap;
}

input{
    width: 80%;
}

input[type="submit"]{
    width: 6rem;
}